.detail-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  width: 400px;
  max-width: 100%;
}

.detail-card{
  margin-top: 2em;
  margin-bottom: 2em;
}

@media(max-width:768px){
  .detail-img{
    height: 100%;
    width: 400px;
  }

}