.filter {
  border: 1px solid white;
  width: 300px;
  border-radius: 10px;
  height: 500px;
  padding: 8px;
}

.filter-title{
  text-align: center;
}

.genre-button {
  padding: 10px;
  border: 1px solid palevioletred;
  border-radius: 10px;
  margin: 5px;
  background-color: pink;
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 8px 8px 10px rgba(158, 4, 4, 0.3);
  background: linear-gradient(
    45deg,
    rgb(231, 35, 35),
    rgb(226, 169, 62),
    rgb(170, 54, 74)
  );
}

@media (max-width: 992px) {

  .filter {
    width: 700px;
    height: 230px;
  }
}

@media (max-width: 768px) {
  
  .filter {
    width: 100%;
    height: 280px;
  }
}

@media (max-width: 576px) {
  
  .filter {
    width: 400px;
    height: 390px;
  }
}
